* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #a7a7a7;
}

.conteiner {
    max-width: 800px;
    margin: 1rem auto;
}

header {
    margin-bottom: 1rem;
}

header img {
    height: 50px;
}

nav {
    padding-top: 1em;
    font-size: 0.7rem;
}

a {
    text-decoration: none;
    margin: 0.5em;
    color: #a7a7a7;
}

nav a:first-child {
    margin-left: 0;
}


.banner {
    background-color: #e2d47a;
    height: 350px;
    margin-bottom: 1rem;
}

main {
    background-color: #0184ff;
    height: 400px;
    margin-bottom: 0.5rem;
}

/* 
.clearfix::after {
    content: '';
    display: table;
    clear: both;
} */

.header-article {
    background-color: #accde7;
    height: 50px;
    margin-bottom: 1rem;
}

.sidebar,
.article {
    background-color: #accde7;
    float: left;
}

.sidebar {
    width: 20%;
    height: calc(100% - (50px + 2em));
}

.article {
    height: calc(100% - (50px + 2em));
    width: calc(60% - 2em);
    margin: 0 1rem;
}

footer {
    background-color: #8801fc;
    height: 40px;
}